

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>{{title}}</h2>
    <hr>

    <form action="/add" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{gallery.name}}" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control">{{gallery.description}}</textarea>
      </div>
        <input type="submit" value="Add Gallery" class="btn btn-default">
    </form>
  </div>
</div>
