

	<h1>Index</h1>


	<form method="post" action="/api/images" enctype="multipart/form-data">
        <label>Title</label>
        <input type="text" name="title">
        <br />
        <input type="file" id="file" name="file">
        <br />
    	<input type="submit" value="submit">
	</form>

    <div>
        {{#each images}}
            <img src="/images/{{this._id}}" />

            <!-- <a href="/images/<%#= images[i]._id %>/edit">Edit</a> -->

            <form action="/images/<%= images[i]._id %>/delete" method="post">
              <input type="submit" value="Delete">
            </form>
        {{/each}}
    </div>
