<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Virtual Gallery</title>

	<link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<h1>Virtual Gallery</h1>


	<form method="post" action="/api/images" enctype="multipart/form-data">
        <label>Title</label>
        <input type="text" name="title">
        <br />
        <input type="file" id="file" name="file">
        <br />
    	<input type="submit" value="submit">
	</form>

    <div>
        <% for (var i = 0; i < images.length; i++) { %>
            <img src="/images/<%= images[i]._id %>" />
            <form action="/images/<%= images[i]._id %>/delete" method="post">
              <input type="submit" value="Delete">
            </form>
        <% } %>
    </div>




</body>
</html>
