<h2 class="page-header">Account Login</h2>

  <form action="/login" method="POST" class="form">
    <label for="email">Email</label>
    <input type="email" name="email" />
    <br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
  </form>

