


<div class="welcome">
  <span class="element"></span>

  <div class="get-started">
    <a href="/login" class="btn-primary">Sign In</a>
    <a href="/register" class="btn-primary">Register</a>
    <a href="/galleries" class="btn-primary">View Galleries</a>
  </div>
</div>


