html {
  position: relative;
  min-height: 100%;
}


body {
  font-family: 'Helvetica Neue', sans-serif;
  height: 100%;
   margin-bottom: 60px;
}

.thumbnail {
  width: auto;
  height: 200px;
}

.gallery-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: center;
}

.gallery-card {
  flex: 1;
  flex-basis: 30%;
  margin: 10px;
  text-align: center;
  padding: 8px;
  flex-grow: 0;
}

.gallery-name {
  background-color: rgba(43,255,25, 0.7);
  width: 60%;
}

.gallery-owner {
  margin-left: 20px;
}

.gallery-desc {
  font-style: italic;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: center;
}

.image-card {
  flex: 1;
  text-align: center;
  margin: 10px;
  flex-grow: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

